@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #001232;
	font-family: "Open Sans", sans-serif;
}

a,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	letter-spacing: 2px;
	transition: all 0.3s ease 0s;
}
p {
	color: #dbe2fb;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 28px;
}
h5 {
	font-size: 25px;
}
h6 {
	font-size: 18px;
}

img {
	max-width: 100%;
}

.before-bg::before {
	opacity: 0.8;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
